$scissorsGradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
$paperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
$rockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
$lizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);


$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);



$radialGradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);

.game{
    text-align: center;
    transition:all 0.4s ease;
    .triangle{
       margin-top:150px;
       position:relative;
       display:inline-block;
    .gameRock{
        position:absolute;
        bottom:-50px;
        left:52.5px;
        &:hover{
            transform:scale(1.1);
        }
        transition:all 0.4s ease;
    }
    .gameScissors{
        position:absolute;
        top:-75px;
        right:-75px;
        &:hover{
            transform:scale(1.1);
        }
        transition:all 0.4s ease;
    }
    .gamePaper{
    position:absolute;
    top:-75px;
    left:-75px;
       &:hover{
           transform:scale(1.1);
       }
       transition:all 0.4s ease;
    }
    }
}

@media only screen and (max-width:750px){
    .game{
        transform:scale(0.8);
        .triangle{
            margin-top:100px;
        }
    }
}

@media only screen and (max-width:375px){
    .game{
        transform:scale(0.7);
        .triangle{
            margin-top:150px;
        }
    }
}