@keyframes appear {
    from{transform:scale(0)}
    to{transform:scale(1)}
}


.winnerContainer{
    transform:scale(0);
    animation-name:appear;
    animation-fill-mode:forwards;
    animation-duration:1.5s;
.winner{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:60px;
    justify-content: center;
    div{
text-align: center;
    }
    button{
        margin-top:20px;
        cursor:pointer;
        background-color:white;
        color:hsl(229, 25%, 31%);
        text-align: center;
        padding:20px 80px;
        font-size:15px;
        border-radius:10px;
        border:none;
        font-weight: 600;
        &:focus{
            outline:none;
        }
        &:hover{
            color:red;
        }
       
    }
}
}