@keyframes grow{
    from{transform:scale(0)}
    to{transform:scale(1)}
}


#animation2{
    transform:scale(0);
    animation-delay:2s;
    animation-fill-mode:forwards;
    animation-name:grow;
    animation-duration:1.5s;
}


#animation5{
    // transform:scale(0);
    // animation-fill-mode:forwards;
    animation-name:grow;
    // animation-duration:1s;
}



.paper{
    z-index:10;
    border:none;
    background-color:hsl(230, 89%, 62%);
    height:200px;
    width:200px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    &:focus{
        outline:none;
    }
    div{
        height:150px;
        width:150px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
    img{
        height:60px;
        width:auto;
    }
}
}